.feature>h1 {
    font-size: 30px;
    background: linear-gradient(-180deg, #0ea5e9, #0bc9d6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.feature {
    padding-bottom: 50px;
}

.feature>p {
    font-size: 18px;
    font-weight: 400;
    color: #8a9ebd;
}

.card--container {
    width: 400px;
    height: 500px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; 

}

.post--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    
}

.cardImg {
    width: 386px;
    height: 486px;
    border-radius: 10px;
    z-index: 9999;
}

.post-content {
    margin-top: -180px;
    padding: 0 20px;
}

.post-content>h1 {
    font-size: 25px;
    color: #8a9ebd;

}

.post-content>p {
    font-size: 15px;
    color: #8a9ebd;
    font-weight: 400;

}

.card--container:hover h1 {
    color: #0bc9d6;

}

.card--container:hover {
    /* transform: translateY(5px); */
    transform: scale(1.1);
}