@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Neucha&family=Patrick+Hand&family=Special+Elite&display=swap');

:root {
  scroll-behavior: smooth;
  color: #fbfcfc;
  background-color: #1b2631;
  --primary-color: #1b2631;
  --secondary-color: #212f3c;
  --shadow-color: #283747;
  --assets-color: #2e4053;
  font-family: 'Amaranth', sans-serif;
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

/* styles.css or your preferred stylesheet */
/* Custom Scrollbar Track */
::-webkit-scrollbar {
  width: 2px;
  /* Width of the scrollbar */
}

/* Custom Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #0bc9d6;
  /* Color of the scrollbar thumb */
}

/* Optional: Hover style for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #0bc9d6;
}

::-moz-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

/* Custom Scrollbar Thumb for Firefox */
/* Note the -moz prefix for Firefox */
::-moz-scrollbar-thumb {
  background: #0bc9d6; /* Color of the scrollbar thumb */
}

/* Optional: Hover style for the scrollbar thumb in Firefox */
/* Note the -moz prefix for Firefox */
::-moz-scrollbar-thumb:hover {
  background: #0bc9d6;;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}